[submodule "libuncso2"]
	path = libuncso2
	url = https://github.com/L-Leite/libuncso2
[submodule "external/gsl-lite"]
	path = external/gsl-lite
	url = https://github.com/martinmoene/gsl-lite
[submodule "external/breeze-icons"]
	path = external/breeze-icons
	url = https://anongit.kde.org/breeze-icons.git
